In [ ]:
import pandas as pd
from statbank import StatbankClient

### Create client

In [ ]:
client = StatbankClient()

In [ ]:
print(client)

In [ ]:
date = client.date_picker()

In [ ]:
import datetime as dt

In [ ]:
OSLO_TIMEZONE = dt.timezone(dt.timedelta(hours=1))
dt.datetime.combine(
                date.value,
                dt.datetime.min.time(),
            ).astimezone(
                OSLO_TIMEZONE,
            ) + dt.timedelta(hours=1)

In [ ]:
date.value

In [ ]:
client.set_publish_date("2024-05-25")

In [ ]:
client.date

### Get description

In [ ]:
filbeskrivelse_07495 = client.get_description(tableid="07495")

In [ ]:
from datetime import datetime

filbesk_tid = datetime.strptime(filbeskrivelse_07495.time_retrieved.split(" ")[0], "%d.%m.%Y")
if filbesk_tid.year != datetime.now().year:
    raise ValueError("Filbeskrivelsen er fra i fjor, hent den p√• nytt.")

### Load data

In [ ]:
df_07495_fylker = pd.read_parquet("07495_statbank_fylker.parquet")
df_07495_landet = pd.read_parquet("07495_statbank_landet.parquet")

In [ ]:
filbeskrivelse_07495.transferdata_template(df_07495_fylker, df_07495_landet)

In [ ]:
data_07495 = {"kargrs01fylker1.dat": df_07495_fylker,
              "kargrs01landet1.dat": df_07495_landet}

### Validate data

In [ ]:
resultat_validering = filbeskrivelse_07495.validate(data_07495)

### Round data

In [ ]:
data_07495["kargrs01fylker1.dat"]

In [ ]:
1.5
2

2.50000000
2

In [ ]:
data_07495 = filbeskrivelse_07495.round_data(data_07495)

### Transfer (actually sending the data)

In [ ]:
transfer_07495 = client.transfer(data_07495, "07495")